
<div>
<p>Block of Welcome Text!</p>
</div>

<div>
    <h2>Trending Shows</h2>
</div>

<div>
    <h3>Show1 - link to community</h3>
    <div>link to reviews</div>
    <div>latest thread</div>
    <div>posts from latest thread</div>
    <div>thread author name and date</div>
</div>



{{!-- <script src="./js/script.js"></script> --}}