<div>
    <h1>{{community.name}}</h1>

    <div>
        <p>{{subject}}:</p>
    </div>

    <div class="plusone-container">
    {{#if plus_one_render}}
    <a href="" class="plusOneButton">Add a plusOne</a>
    {{else}}
    <p>You added a plusOne to this post!</p>
    {{/if}}
    </div>


</div>

<script src="/js/plusones.js"></script>