  <link rel="stylesheet" href="/css/style.css">
<div class="comReviewContainer"> 
<a href="/community/{{community.id}}/"><h1 class="comReviewName">{{community.name}}</h1></a>
  
  
  
  <div>
    <h3 class="is-size-5 pb-4">Community Reviews:</h3>
       {{#each reviews as |review|}}
    <div class="row mb-2 box scroll-hover">
      <a href="/reviews/{{review.id}}">{{review.subject}}</a>
    </div>
    {{/each}}
  </div>

<a href="newreview" class="button is-dark mt-4">Add a new review</a>

</div>

</div>