<div>
    <h1>{{community.name}}</h1>

    <div>
        <h3>{{subject}}:</h3>
    </div>

    <div>
        <p>{{body}}:</p>
    </div>
    <br>
    
    {{#if plus_one_render}}
    <div class="plusone-container"></div>
    <a href="" class="plusOneButton">Add a plusOne</a>
    {{else}}
    <div class="plusone-container-null"></div>
    <p>You added a plusOne to this post!</p>
    {{/if}}
    </div>


</div>

<script src="/js/plusones.js"></script>