<body>
    <div class="hero is-fullheight">
        <div class="hero-body is-justify-content-center is-align-items-center">
            <div class="columns is-flex is-flex-direction-column box">
                <form class="signup-form">
                    <div class="column">
                        <label for="name">Name</label>
                        <input class="input" id="name-signup" type="text" placeholder="Enter Name">
                    </div>
                    <div class="column">
                        <label for="email">Email</label>
                        <input class="input" id="email-signup" type="text" placeholder="Email address">
                    </div>
                    <div class="column">
                        <label for="Name">Password</label>
                        <input class="input" id="password-signup" type="password" placeholder="Password">
                    </div>
                    <div class="column">
                        <div class="form-group"></div>
                        <label for="avatar-signup">Choose an avatar:</label>
                        <div class="avatar-group" id="avatar-group">
                            <input type="hidden" id="avatar-path" name="avatarPath">
                            <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Felix" alt="Avatar 1"
                                class="avatar-img" width="60" height="60">

                            <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Gizmo" alt="Avatar 2"
                                class="avatar-img" width="60" height="60">

                            <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Kitty" alt="Avatar 3"
                                class="avatar-img" width="60" height="60">

                            <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Loki" alt="Avatar 4"
                                class="avatar-img" width="60" height="60">

                            <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Fluffy" alt="Avatar 5"
                                class="avatar-img" width="60" height="60">
                            <br>
                            <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Bella" alt="Avatar 6"
                                class="avatar-img" width="60" height="60">

                            <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Harley" alt="Avatar 7"
                                class="avatar-img" width="60" height="60">

                            <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Boo" alt="Avatar 8"
                                class="avatar-img" width="60" height="60">

                            <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Cuddles" alt="Avatar 9"
                                class="avatar-img" width="60" height="60">

                            <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Jasper" alt="Avatar 10"
                                class="avatar-img" width="60" height="60">
                        </div>
                </form>
                <button class="button is-black is-fullwidth" type="submit">Create an account</button>
            </div>
            <div class="has-text-centered">
                <p> Already have an account? <a href="#" class="has-text-danger">Login</a>
                </p>
            </div>
        </div>
    </div>
    </div>
</body>

</html>


<script src="./js/signup-form.js"></script>










{{!-- 
<div class="row">
    <div class="col-md-6">
        <h2>Signup</h2>

        <form class="form signup-form">
            <div class="form-group">
                <label for="name-signup">name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group">
                <label for="email-signup">email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup">password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>

            <div class="form-group">
                <label for="avatar-signup">Choose an avatar:</label>
                <div class="avatar-group" id="avatar-group">
                    <input type="hidden" id="avatar-path" name="avatarPath">
                    <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Felix" alt="Avatar 1" class="avatar-img"
                        width="60" height="60">

                    <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Gizmo" alt="Avatar 2" class="avatar-img"
                        width="60" height="60">

                    <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Kitty" alt="Avatar 3" class="avatar-img"
                        width="60" height="60">

                    <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Loki" alt="Avatar 4" class="avatar-img"
                        width="60" height="60">

                    <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Fluffy" alt="Avatar 5" class="avatar-img"
                        width="60" height="60">
                    <br>
                    <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Bella" alt="Avatar 6" class="avatar-img"
                        width="60" height="60">

                    <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Harley" alt="Avatar 7" class="avatar-img"
                        width="60" height="60">

                    <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Boo" alt="Avatar 8" class="avatar-img"
                        width="60" height="60">

                    <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Cuddles" alt="Avatar 9" class="avatar-img"
                        width="60" height="60">

                    <img src="https://api.dicebear.com/7.x/bottts/svg?seed=Jasper" alt="Avatar 10" class="avatar-img"
                        width="60" height="60">

                </div>

            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">signup</button>
            </div>
        </form>
        <button class="btn btn-primary" id="login-button" type="submit"> already have an account? login</button>
    </div>
</div>
<script src="./js/signup-form.js"></script> --}}